/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Nov-2015, 21:44:34
    Author     : max
*/

@media screen and (min-width: 980px) /* Desktop */ {
    html {
        background: url(gears.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;    
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    html {
        background: url(gears.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;       
    }
}

@media screen and (max-width: 500px) /* Mobile */ {
    html {
        background: none;
    }
}

