/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Nov-2015, 22:02:43
    Author     : max
*/
body {
    padding-top: 50px;
    background-color: transparent;
}
.spacer
{
    margin-top: 20px;
}

.passwordFormSubmit
{

}

/*@media (max-width: 600px) {
  html {
    background: none;
  }
}*/
