/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Feb-2015, 12:41:12
    Author     : max
*/

@media screen and (min-width: 980px) /* Desktop */ {
    html {
        background: url(../../globalIMG/fruit2-min.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    html {
        background: url(../../globalIMG/fruit2-min.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (max-width: 500px) /* Mobile */ {
    html {
        background: none;
    }
}



body {
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #eee;*/
    background-color: transparent;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    /*margin-bottom: 10px;*/
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    /*margin-bottom: 10px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logindiv
{
    border-radius: 10px; 
}

.logo
{
    font-size:50px;
}

#logodiv
{
    border-radius: 10px; 
}

#logo1
{
    color: #8BC442;
}
#logo2
{
    color: #00ADEF;
}

.img-responsive
{
    float:right;
    display:inline;
}

noscript div
{
    color: red;
}

#buttonGroup
{
    float:right;
}


/*.footer
{
     opacity: 0.5;  opacity [0-1] 
    -moz-opacity: 0.5;  opacity [0-1] 
    -webkit-opacity: 0.5;  opacity [0-1] 
}*/