/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Oct-2015, 15:47:47
    Author     : max
*/

html
{
    background: url(mystatspic.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}




.infoTitle
{
    text-decoration: underline;
}


.scrollable
{
    height:200px;
    overflow:hidden;
    overflow-y:scroll;
}

.searchresult
{

}

.customfood
{

}

.incrementWeightButton
{

}

.decrementWeightButton
{

}